body
	height 1000px
.menu-lateral
	color: #fff
	@extend .col-md-2
	padding 0
	height 1000px	
	background-color #2C4762
	.segura-logo
		border-bottom 1px solid #fff
		padding 10px
		.logo

			&__img
				margin-left 30px
				@extend .col-md-3
				@extend .col-xs-4
				img
					@extend .img-responsive
			&__texto
				font-size 20px
				@extend .col-md-7
				@extend .col-xs-6
				color #fff
				
.segura-user
	border-bottom 1px solid #fff
	padding 10px 0
	.user
		
		a
			color: #fff
		&__img
			margin-left 26px
			@extend .col-md-5
			@extend .col-xs-4
			img
				@extend .img-responsive
				border-radius 76px
		&__nome
			margin-top 20px
			@extend .col-md-5
			@extend .col-xs-4
			font-size 20px

.lista
	margin-top 20px
	list-style: none
	font-size: 20px
	padding: 0
	li
		padding: 10px 0
		text-align: left;
		width: 119px;
		margin 0 auto
		a
			color: #fff
			text-decoration: none
			text-align: center
.sublista
	margin: 10px 0
	padding 0
	li
		padding: 5px 0
		list-style none
		a
			color: #fff
.dropdown-menu
	position: relative
	float none
	min-width 0
	background-color: transparent
	border none
	box-shadow: none
.botao-menu
	font-size 20px
	padding 10px
	cursor pointer
	position absolute
	top 0
	right 0
	z-index 1000
	color #000	
	@extend .hidden-lg


.conteudo
	@extend .col-md-10
	@extend .col-xs-12
	height 900px
	padding 0
	background-color #FFF
	
.titulo
	background-color #ddd
	width 100%
	padding 20px 0
	h1
		margin 0
		text-align center
.segura-form
	margin-top 80px	
	@extend .col-md-4
	@extend .col-md-offset-4
	
.segura-tabela
	margin-top 80px
	@extend .col-md-12
	overflow-x auto
	
	

+breakpoint(mobile,middle)
	.logo
		&__texto
			padding 24px 0
		&__img
			img
				width 50%
				margin 0 auto
	.user
		&__img
			img
				width 50%
				margin 0 auto
	.menu-lateral
		position absolute
		display table
		top -436px
		padding 35px 0
		z-index 999
		height auto
		background-color rgba(44,71,98,0.9)
		.segura-logo
			padding 10px 0
			.logo
				padding 0
	.conteudo
		margin-top 100px
	.segura-user
		padding 10px 0
		.user
			margin 0
	.lista
		li
			width 100%
			margin 10px 0
			padding 10px
			background-color rgba(0,0,0,0.9)
			text-align center
		
+breakpoint(mobile)
	.row
		margin 0
	.logo
		&__texto
			padding 24px 0
	.menu-lateral
		position absolute
		display table
		top -950px
		z-index 999
		background-color rgba(44,71,98,0.9)
		.segura-logo
			padding 10px 0
			.logo
				padding 0
	.conteudo
		margin-top 100px
	.segura-user
		padding 10px 0
		.user
			margin 0
	.lista
		li
			width 100%
			margin 10px 0
			padding 10px
			background-color rgba(0,0,0,0.9)
			text-align center
	